@using Andy.X.Portal.Models.Lineage

@model StreamLineageViewModel
@{
    ViewData["Title"] = "Stream Lineage " + @Model.Component;
}

<div class="border-bottom" style="height:30px" aria-label="breadcrumb">
    <ol class="breadcrumb ms-3 p-1">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Products" asp-action="Index">PRODUCTS</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-tenant="@Model.Tenant" asp-route-id="@Model.Product">@Model.Product</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Components" asp-action="Details" asp-route-tenant="@Model.Tenant" asp-route-product="@Model.Product" asp-route-id="@Model.Component">@Model.Component</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lineage</li>
    </ol>
</div>

<div class="container mt-5">
    <h6 class="text-uppercase text-muted">Component Message Lineage</h6>
    <div class="row">
        <p class="col-auto header">@Model.Product / <strong>@Model.Component</strong></p>
    </div>

    @for (int i = 0; i < Model.StreamLineages.Count; i++)
    {
        <div class="border p-4 mb-5">
            <p class="text-uppercase caption text-muted">Stream @(i+1): <strong>@Model.StreamLineages[i].TopicPhysicalPath</strong></p>

            <div class="row mb-2">
                <div class="col  d-flex align-items-center">

                    @if (Model.StreamLineages[i].Producers.Count() == 0)
                    {
                        <ul class="navbar-nav flex-grow-1 text-center">
                            <li>
                                <button type="button" class="btn btn-outline-secondary w-100 btn-lg" disabled>NO PRODUCERS</button>
                            </li>
                        </ul>
                    }
                    else
                    {
                        @foreach (var producer in Model.StreamLineages[i].Producers)
                        {
                            <ul class="navbar-nav flex-grow-1 text-center">
                                <li class="nav-item">
                                    <button type="button" class="btn btn-outline-secondary w-100 btn-lg mb-1" data-mdb-toggle="modal" data-mdb-target="#@producer.Tenant@producer.Product@producer.Component@producer.Topic@producer.ProducerName">@producer.ProducerName</button>
                                </li>
                            </ul>



                            <!-- Modal -->
                            <div class="modal fade"
                     id="@producer.Tenant@producer.Product@producer.Component@producer.Topic@producer.ProducerName"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@producer.ProducerName</h5>
                                            <button type="button"
                                        class="btn-close"
                                        data-mdb-dismiss="modal"
                                        aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-uppercase">NUMBER OF MESSAGES PRODUCED FROM LAST CONNECTION</p>
                                            <div class="alert alert-dark base" role="alert">
                                                @producer.CountMessagesProducedSinceConnected
                                            </div>

                                            <p class="text-uppercase">Tenant</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.Tenant
                                            </div>
                                            <p class="text-uppercase">Product</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.Product
                                            </div>
                                            <p class="text-uppercase">Component</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.Component
                                            </div>
                                            <p class="text-uppercase">Topic</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.Topic
                                            </div>

                                            <p class="text-uppercase">Producer Id</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.Id
                                            </div>

                                            <p class="text-uppercase">Producer Name</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.ProducerName
                                            </div>
                                            <p class="text-uppercase">Connected to this node</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.IsLocal.ToString()
                                            </div>

                                            <p class="text-uppercase">Connection Date</p>
                                            <div class="alert alert-light base" role="alert">
                                                @producer.ConnectedDate.ToString("yyyy-MM-dd HH:mm:ss")
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        }
                    }

                </div>
                <div class="col d-flex align-items-center">
                    <ul class="navbar-nav flex-grow-1 text-center">
                        <li>
                            <button type="button" class="btn w-100 btn-success btn-rounded btn-lg" data-mdb-toggle="modal" data-mdb-target="#@Model.StreamLineages[i].Topic">@Model.StreamLineages[i].Topic</button>
                        </li>
                    </ul>


                    <!-- Modal -->
                <div class="modal fade"
                     id="@Model.StreamLineages[i].Topic"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">@Model.StreamLineages[i].Topic</h5>
                                    <button type="button"
                                        class="btn-close"
                                        data-mdb-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-uppercase">Topic Name</p>
                                    <div class="alert alert-light base" role="alert">
                                        @Model.StreamLineages[i].Topic
                                    </div>
                                    <p class="text-uppercase">Topic Physical Path</p>
                                    <div class="alert alert-light base" role="alert">
                                        @Model.StreamLineages[i].TopicPhysicalPath
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-mdb-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col justify-content-center align-center flex-nowrap">
                    @if (Model.StreamLineages[i].Consumers.Count() == 0)
                    {
                        <ul class="navbar-nav flex-grow-1 text-center">
                            <li>
                                <button type="button" class="btn btn-outline-info w-100 btn-lg" disabled>NO CONSUMERS</button>
                            </li>
                        </ul>
                    }
                    else
                    {
                        @foreach (var consumer in Model.StreamLineages[i].Consumers)
                        {
                            <ul class="navbar-nav flex-grow-1 text-center">
                                <li>
                                    <button type="button" class="btn btn-outline-info w-100 btn-lg mb-1" data-mdb-toggle="modal" data-mdb-target="#@consumer.Tenant@consumer.Product@consumer.Component@consumer.Topic@consumer.ConsumerName">@consumer.ConsumerName</button>
                                </li>
                            </ul>

                            <!-- Modal -->
                            <div class="modal fade"
                     id="@consumer.Tenant@consumer.Product@consumer.Component@consumer.Topic@consumer.ConsumerName"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@consumer.ConsumerName</h5>
                                            <button type="button"
                                        class="btn-close"
                                        data-mdb-dismiss="modal"
                                        aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-uppercase">Number of messages consumed by consumer from last connection</p>
                                            <div class="alert alert-dark base" role="alert">
                                                @consumer.CountMessagesConsumedSinceConnected
                                            </div>
                                            <p class="text-uppercase">Number of messages acknowledged from last connection</p>
                                            <div class="alert alert-dark base" role="alert">
                                                @consumer.CountMessagesAcknowledgedSinceConnected
                                            </div>
                                            <p class="text-uppercase">Number of messages unacknowledged from last connection</p>
                                            <div class="alert alert-dark base" role="alert">
                                                @consumer.CountMessagesUnacknowledgedSinceConnected
                                            </div>
                                            <p class="text-uppercase">Tenant</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.Tenant
                                            </div>
                                            <p class="text-uppercase">Product</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.Product
                                            </div>
                                            <p class="text-uppercase">Component</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.Component
                                            </div>
                                            <p class="text-uppercase">Topic</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.Topic
                                            </div>

                                            <p class="text-uppercase">Consumer Id</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.Id
                                            </div>

                                            <p class="text-uppercase">Consumer Name</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.ConsumerName
                                            </div>
                                            <p class="text-uppercase">Subscription Type</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.SubscriptionType.ToString()
                                            </div>
                                            <p class="text-uppercase">Initial Position</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.ConsumerSettings.InitialPosition.ToString()
                                            </div>
                                            <p class="text-uppercase">Instances connected</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.Connections.Count().ToString()
                                            </div>
                                            <p class="text-uppercase">External Instances connected</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.ExternalConnections.Count().ToString()
                                            </div>
                                            <p class="text-uppercase">Connected to this node</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.IsLocal.ToString()
                                            </div>

                                            <p class="text-uppercase">Connection Date</p>
                                            <div class="alert alert-light base" role="alert">
                                                @consumer.ConnectedDate.ToString("yyyy-MM-dd HH:mm:ss")
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info" data-mdb-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>