@using Andy.X.Portal.Models.Tenants
@model TenantDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-5">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="avatar avatar-lg" style="">
                    <img src="~/assets/tenant1.png" width="64" height="64" alt="tenant">
                </span>
            </div>
            <div class="col">
                <h1 class="page-title">@Model.Name</h1>
                <div class="page-subtitle">
                    <div class="row">
                        <div class="col-auto">
                            <a href="#" class="text-reset">id <strong>@Model.Id</strong></a>
                        </div>
                        <div class="col-auto text-success">
                            active
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-none d-md-flex">
                <a href="#" class="btn btn-primary">
                    Settings
                </a>
            </div>
        </div>
    </div>

    <div class="row row-cards mt-2">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="subheader">Products</div>
                    <div class="h3 m-0">@Model.Products.Count</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="subheader">Tokens</div>
                    <div class="h3 m-0">@Model.Tokens.Count</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="subheader">Data Retention</div>
                    <div class="h3 m-0">@Model.TenantRetentions.Count</div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="page-title mt-5">Products</h2>
    <h5 class="">List</h5>
    <div class="row row-cards mt-1">
        @if (Model.Products.Count == 0)
        {
            <div class="alert alert-info" role="alert">
                <h4 class="alert-title">No products yet!</h4>
                <div class="text-muted">To create a new product, please use Andy X Cli or Andy X Clients.</div>
            </div>
        }
        @foreach (var product in Model.Products)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                <span class="avatar avatar-lg" style="">
                                    <img src="~/assets/product.png" width="64" height="64" alt="product">

                                </span>
                            </div>
                            <div class="col">
                                <div class="text-muted">
                                    Product
                                </div>
                                <h4 class="card-title m-0">
                                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-tenant="@Model.Name" asp-route-id="@product">@product</a>
                                </h4>
                                <div class="small mt-1">
                                    <span class="badge bg-green"></span> Online
                                </div>
                            </div>
                            <div class="col-auto">
                                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-tenant="@Model.Name" asp-route-id="@product" class="btn">
                                    View
                                </a>

                            </div>
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a href="#" class="card-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="1" /><circle cx="12" cy="19" r="1" /><circle cx="12" cy="5" r="1" /></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

