@using Andy.X.Portal.Models.Producers
@model ProducerDetailsViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<div class="container mt-5">


    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="avatar avatar-lg" style="">
                    <img src="~/assets/producer.png" width="64" height="64" alt="producer">
                </span>
            </div>
            <div class="col">
                <h1 class="page-title">@Model.Name</h1>
                <div class="page-subtitle">
                    <div class="row">
                        <div class="col-auto">
                            <a class="text-reset">@Model.Tenant / @Model.Product / @Model.Component / @Model.Topic</a>
                        </div>
                        <div class="col-auto text-success">
                            @Model.InstanceType.ToString().ToUpper()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cards mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="header">Producer</div>
                    <div class="subheader">Overview</div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Producer Name</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@Model.Name" placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Location</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@Model.Tenant / @Model.Product / @Model.Component / @Model.Name" placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Instance Type</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@Model.InstanceType.ToString()" placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Public Ip Range</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@string.Join(", ",Model.PublicIpRange) " placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Private Ip Range</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@string.Join(", ",Model.PrivateIpRange) " placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Updated by</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@Model.UpdatedBy" placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Updated date</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@Model.UpdatedDate" placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Created by</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@Model.CreatedBy" placeholder="No Information">
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="form-label">Created date</label>
                        <input type="text" class="form-control" name="example-text-input" disabled value="@Model.CreatedDate" placeholder="No Information">
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>