@using Andy.X.Portal.Models.Storages
@model StorageDetailsViewModel

@{
    ViewData["Title"] = Model.StorageName;
}

<div class="border-bottom" style="height:30px" aria-label="breadcrumb">
    <ol class="breadcrumb ms-3 p-1">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Storages" asp-action="Index">STORAGES</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.StorageName</li>
    </ol>
</div>

<div class="container mt-5">
    <h6 class="text-uppercase text-muted">Storage</h6>
    <div class="row">
        <p class="col-auto header"><strong>@Model.StorageName</strong></p>
        <div class="col-auto">
            @if (Model.Agents.Count() != 0)
            {
                <p><span class="badge subtitle rounded-pill bg-success">ONLINE</span></p>
            }
            else
            {
                <p><span class="badge subtitle rounded-pill bg-secondary">OFFLINE</span></p>
            }
        </div>
        <div class="col-auto">
            <p>
                <span class="badge subtitle rounded-pill bg-dark"
                      data-mdb-toggle="popover"
                      title="SHARDING"
                      data-mdb-content="Divide a data store into a set of horizontal partitions or shards. This can improve scalability when storing and accessing large volumes of data.">SHARDING</span>
            </p>
        </div>
    </div>


    <div class="row mb-5 mt-5">
        <div class="col">
            <div class="border p-4">
                <p class="text-uppercase caption text-muted">Agents Max Connection</p>
                <p class="subheader"><strong>@Model.AgentMaxNumber</strong></p>
            </div>
        </div>
        <div class="col">
            <div class="border p-4">
                <p class="text-uppercase caption text-muted">Agents Connected</p>
                <p class="subheader"><strong>@Model.Agents.Count()</strong></p>
            </div>
        </div>
        <div class="col">
            <div class=" border p-4">
                <p class="text-uppercase caption text-muted">Memory Consumption</p>
                <p class="subheader"><strong>0 Bytes</strong></p>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5">

        <div class="col">
            <div class="border p-4">
                <p class="text-uppercase caption text-muted">In Rate</p>
                <p class="subheader"><strong>@Model.StorageMetrics.InRate</strong></p>
            </div>
        </div>
        <div class="col">
            <div class=" border p-4">
                <p class="text-uppercase caption text-muted">Out Rate</p>
                <p class="subheader"><strong>@Model.StorageMetrics.OutRate</strong></p>
            </div>
        </div>
        <div class="col">
            <div class="border p-4">
                <p class="text-uppercase caption text-muted">In throughput</p>
                <p class="subheader"><strong>@Model.StorageMetrics.InThroughput Bytes</strong></p>
            </div>
        </div>
        <div class="col">
            <div class="border p-4">
                <p class="text-uppercase caption text-muted">Out throughput</p>
                <p class="subheader"><strong>@Model.StorageMetrics.OutThroughput Bytes</strong></p>
            </div>
        </div>

    </div>

    <section class="border">

        <!-- Tabs navs -->
        <ul class="nav nav-tabs nav-fill mb-3" id="ex-2" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active"
                   id="ex-2-tab-1"
                   data-mdb-toggle="pill"
                   href="#ex-2-tabs-1"
                   role="tab"
                   aria-controls="pills-1"
                   aria-selected="true">Overview</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   id="ex-2-tab-2"
                   data-mdb-toggle="pill"
                   href="#ex-2-tabs-2"
                   role="tab"
                   aria-controls="pills-2"
                   aria-selected="false">Agents</a>
            </li>
        </ul>
        <!-- Tabs navs -->
        <!-- Tabs content-->
        <div class="tab-content mx-3" id="ex-2-content">
            <div class="tab-pane fade show active"
                 id="ex-2-tabs-1"
                 role="tabpanel"
                 aria-labelledby="pills-1-tab">

                <p class="text-uppercase">ID</p>
                <div class="alert alert-light base" role="alert">
                    @Model.StorageId
                </div>

                <p class="text-uppercase">NAME</p>
                <div class="alert alert-light base" role="alert">
                    @Model.StorageName
                </div>

                <p class="text-uppercase">STATUS</p>
                <div class="alert alert-light base" role="alert">
                    @Model.StorageStatus.ToString()
                </div>

                <p class="text-uppercase">IS LOAD BALANCED</p>
                <div class="alert alert-light base" role="alert">
                    @Model.IsLoadBalanced.ToString()
                </div>

                <p class="text-uppercase">AGENT MAX NUMBER</p>
                <div class="alert alert-light base" role="alert">
                    @Model.AgentMaxNumber
                </div>

                <p class="text-uppercase">AGENT MIN NUMBER</p>
                <div class="alert alert-light base" role="alert">
                    @Model.AgentMinNumber
                </div>

            </div>
            <div class="tab-pane fade" id="ex-2-tabs-2" role="tabpanel" aria-labelledby="pills-2-tab">
                <div class="container mt-5">
                    @foreach (var agent in Model.Agents.Values)
                    {
                        <div class="card border rounded-0 mb-3">
                            <div class="d-flex  g-0">
                                <div class="col-md-2 d-flex  justify-content-center align-items-center bg-light"
                                 style="height: 131px;">
                                    <img src="~/assets/connection-64.png"
                                     class=""
                                     height="64"
                                     alt=""
                                     loading="lazy" />

                                </div>

                                <div class="col-md-8">
                                    <div class="card-body px-3 pt-2">
                                        <h6 class="text-uppercase text-muted">Agent</h6>
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="w-100 mb-1"><strong>@agent.AgentName</strong></h5>
                                                <p class="w-100 mb-3"><strong>@agent.ConnectionId</strong></p>
                                            </div>
                                        </div>
                                        <div class="position-absolute" style="bottom: 0;">
                                            <div class="w-100 ps-1 pb-2">
                                                <div class="col">
                                                    <span class="badge rounded-pill bg-success">ONLINE</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Tabs content-->
    </section>
</div>